</main>
<footer>
  <div class="container">
    <div class="links">
      <a href="https://github.com/rrpereira98">https://github.com/rrpereira98</a>
      <a href="https://openlibrary.org/developers/api">https://openlibrary.org/developers/api</a>
    </div>
    <p>copyright <%= new Date().getFullYear() %></p>
  </div>
</footer>

<!-- <script src="js/scripts.js"></script> -->
</body>
</html>