<%- include('partials/header.ejs') %>
      <div class="container">
        <form class="search-book-form" action="/search" method="post">
          <label for="searchInput"></label>
          <input
            class="search-book-input"
            type="text"
            name="searchInput"
            placeholder="Search book by name"
            required
          />
          <input class="search-book-btn" type="submit" value="Search" />
        </form>
        <% if (locals.err) { %>
          <p><%= err %></p>
        <% } %>
      </div>
<%- include('partials/footer.ejs') %>
