<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BookIt</title>
    <meta name="description" content="A brief description" />
    <meta name="author" content="Rodrigo Pereira" />

    <!-- Open Graph Protocol -->
    <!-- <meta property="og:title" content="page title(page not website)">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.mysite">
    <meta property="og:description" content="A brief description">
    <meta property="og:image" content="image.png">
    <meta property="og:site_name" content="Site Name"> -->

    <!-- <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <header>
      <div id="user-icon-bg"><p>U</p></div>
    </header>
    <main>
      <div class="container">
        <form action="/search" method="post">
          <label for="searchInput"></label>
          <input
            type="text"
            name="searchInput"
            placeholder="Search book by name"
          />
          <input type="submit" value="Search" />
        </form>
      </div>
    </main>
    <footer>
      <p>https://github.com/rrpereira98</p>
      <p>https://openlibrary.org/developers/api</p>
      <p>copyright <%= new Date().getFullYear() %></p>
    </footer>

    <!-- <script src="js/scripts.js"></script> -->
  </body>
</html>
